<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{mainLabel}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Thêm dữ liệu
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">

                                    <div id="idTeamShow" class="form-group">
                                        <label>Mã đội</label>
                                        <input ng-model="idTeam" class="form-control" placeholder="T01">
                                    </div>

                                    <div class="form-group">
                                        <label>Tên đội</label>
                                        <input ng-model="name" class="form-control" placeholder="Đội giao hàng">
                                    </div>

                                </form>
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label>Khu vực quản lý</label>
                                        <div ng-dropdown-multiselect="" options="example13data"
                                             selected-model="example13model" extra-settings="example13settings"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Trạng thái</label>
                                        <div bs-dropdown
                                             bs-dropdown-display="MyDropDown"
                                             bs-dropdown-items="status"
                                             ng-model="selectStatus"
                                             ng-change="changeStatus()">
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <input ng-model="description" class="form-control" placeholder="Mô tả">
                                </div>
                                <div style="padding-top: 20px">
                                    <button style="width: 110px" type="submit" ng-click="submit()" class="btn btn-outline btn-primary">Lưu
                                        thông tin
                                    </button>
                                    <button style="width: 110px" id="btnDelete" type="reset" ng-click="deleteTeam()" class="btn btn-outline btn-danger">Xóa đội
                                    </button>
                                </div>
                            </div>
                            <!-- /.col-lg-6 (nested) -->

                            <div class="col-lg-12">
                                <br>
                                <br>

                                <div class="panel-body">
                                    <label>Đội trưởng</label>
                                    <table width="100%" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Email</th>
                                            <th>Họ tên</th>
                                            <th>SĐT</th>
                                            <th>Địa chỉ</th>
                                            <th>Đội</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="x in accountsLead" ng-click="clickItemLead(x)">
                                            <td><input type="checkbox" ng-model="x.checked"/></td>
                                            <td><a href="#/accountscreate/{{x._email}}">{{x._email}}</a></td>
                                            <td>{{x._last_name}} {{x._first_name}}</td>
                                            <td>{{x._phone}}</td>
                                            <td>{{x._address}}</td>
                                            <td>{{x._team}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="panel-body">
                                    <label>Nhân viên</label>
                                    <table width="100%" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Email</th>
                                            <th>Họ tên</th>
                                            <th>SĐT</th>
                                            <th>Địa chỉ</th>
                                            <th>Đội</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="x in accountsEmployee" ng-click="clickItemEmployee(x)">
                                            <td><input type="checkbox" ng-model="x.checked"/></td>
                                            <td><a href="#/accountscreate/{{x._email}}">{{x._email}}</a></td>
                                            <td>{{x._last_name}} {{x._first_name}}</td>
                                            <td>{{x._phone}}</td>
                                            <td>{{x._address}}</td>
                                            <td>{{x._team}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>