#AccountCreateN table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
#AccountCreateN .overlay {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#AccountCreateN .overlay .closeOver {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-top: 0;
  position: absolute;
  top: 0%;
  right: 1%;
  z-index: 2;
}
#AccountCreateN .overlay .core {
  font-size: 40px;
  color: #7ED321;
  font-family: 'SF Medium';
  text-align: center;
  clear: both;
}
#AccountCreateN .overlay .starSelect {
  max-width: 162px;
  height: auto;
  margin: auto;
}
#AccountCreateN .overlay .inputComment {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  width: 740px;
  border: 1px solid #E8E8E9;
  background: #FFFFFF;
  resize: none;
  font-size: 16px;
}
#AccountCreateN .overlay .inputComment:focus {
  outline-width: 0;
}
#AccountCreateN .overlay .buttonChoseMedia {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-left: 20px;
  padding-left: 39px;
  padding-right: 10px;
  background-color: transparent!important;
  border-color: #E9E9E9!important;
  color: #949494!important;
  position: relative;
  font-family: 'SF Medium';
}
#AccountCreateN .overlay .buttonChoseMedia .buttonMedia {
  height: 16px;
  width: auto;
  position: absolute;
  left: 10px;
}
#AccountCreateN .overlay .button {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-right: 20px;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #fb4226 !important;
  border-color: #fb4226 !important;
  color: #fff!important;
  background-image: linear-gradient(-226deg, #fb4226 11%, #be2912 100%);
  font-family: 'SF Medium';
}
#AccountCreateN .overlay .model {
  position: relative;
  position: absolute;
  transform: translate(-50%);
  top: 35%;
  left: 50%;
  z-index: 100;
  width: 60%;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
#AccountCreateN .panel-body {
  padding: 0 20px 0px 20px!important;
}
