#AccountShow table th {
  text-align: center;
}
#AccountShow table .center {
  text-align: center;
}
#AccountShow table button {
  display: block;
  margin: auto;
}
#AccountShow .overlay {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#AccountShow .overlay .closeOver {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-top: 0;
  position: absolute;
  top: 0%;
  right: 1%;
  z-index: 2;
}
#AccountShow .overlay .core {
  font-size: 40px;
  color: #7ED321;
  font-family: 'SF Medium';
  text-align: center;
  clear: both;
}
#AccountShow .overlay .starSelect {
  max-width: 162px;
  height: auto;
  margin: auto;
}
#AccountShow .overlay .inputComment {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  width: 740px;
  border: 1px solid #E8E8E9;
  background: #FFFFFF;
  resize: none;
  font-size: 16px;
}
#AccountShow .overlay .inputComment:focus {
  outline-width: 0;
}
#AccountShow .overlay .buttonChoseMedia {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-left: 20px;
  padding-left: 39px;
  padding-right: 10px;
  background-color: transparent!important;
  border-color: #E9E9E9!important;
  color: #949494!important;
  position: relative;
  font-family: 'SF Medium';
}
#AccountShow .overlay .buttonChoseMedia .buttonMedia {
  height: 16px;
  width: auto;
  position: absolute;
  left: 10px;
}
#AccountShow .overlay .button {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-right: 20px;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #fb4226 !important;
  border-color: #fb4226 !important;
  color: #fff!important;
  background-image: linear-gradient(-226deg, #fb4226 11%, #be2912 100%);
  font-family: 'SF Medium';
}
#AccountShow .overlay .model {
  position: relative;
  position: absolute;
  transform: translate(-50%);
  top: 35%;
  left: 50%;
  z-index: 100;
  width: 60%;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
#AccountShow .panel-body {
  padding: 0 20px 0px 20px!important;
}
#AccountShow #mapAccountAddress {
  margin-left: 0!important;
  margin-right: 0!important;
}
#AccountShow .buttonTable {
  display: inline-block;
  vertical-align: text-bottom;
}
#AccountShow .buttonTablePad {
  padding: 6.7px 10px !important;
}
#AccountShow .buttonTableBtn button {
  width: 160px;
}
#AccountShow .buttonTableSelect {
  display: inline-block;
  width: 160px;
}
#AccountShow .table-td-center td[rowspan] {
  vertical-align: top;
  text-align: left;
}
#WarehouseShow table th {
  text-align: center;
}
#WarehouseShow table .center {
  text-align: center;
}
#WarehouseShow table button {
  display: block;
  margin: auto;
}
#WarehouseShow .overlay {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#WarehouseShow .overlay .closeOver {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-top: 0;
  position: absolute;
  top: 0%;
  right: 1%;
  z-index: 2;
}
#WarehouseShow .overlay .core {
  font-size: 40px;
  color: #7ED321;
  font-family: 'SF Medium';
  text-align: center;
  clear: both;
}
#WarehouseShow .overlay .starSelect {
  max-width: 162px;
  height: auto;
  margin: auto;
}
#WarehouseShow .overlay .inputComment {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  width: 740px;
  border: 1px solid #E8E8E9;
  background: #FFFFFF;
  resize: none;
  font-size: 16px;
}
#WarehouseShow .overlay .inputComment:focus {
  outline-width: 0;
}
#WarehouseShow .overlay .buttonChoseMedia {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-left: 20px;
  padding-left: 39px;
  padding-right: 10px;
  background-color: transparent!important;
  border-color: #E9E9E9!important;
  color: #949494!important;
  position: relative;
  font-family: 'SF Medium';
}
#WarehouseShow .overlay .buttonChoseMedia .buttonMedia {
  height: 16px;
  width: auto;
  position: absolute;
  left: 10px;
}
#WarehouseShow .overlay .button {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-right: 20px;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #fb4226 !important;
  border-color: #fb4226 !important;
  color: #fff!important;
  background-image: linear-gradient(-226deg, #fb4226 11%, #be2912 100%);
  font-family: 'SF Medium';
}
#WarehouseShow .overlay .model {
  position: relative;
  position: absolute;
  transform: translate(-50%);
  top: 35%;
  left: 50%;
  z-index: 100;
  width: 60%;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
#WarehouseShow .panel-body {
  padding: 0 20px 0px 20px!important;
}
#WarehouseShow #mapAccountAddress {
  margin-left: 0!important;
  margin-right: 0!important;
}
#mainIndex .barUser {
  display: inline-block;
}
#AccountCreateN table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
#AccountCreateN .overlay {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
#AccountCreateN .overlay .closeOver {
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-top: 0;
  position: absolute;
  top: 0%;
  right: 1%;
  z-index: 2;
}
#AccountCreateN .overlay .core {
  font-size: 40px;
  color: #7ED321;
  font-family: 'SF Medium';
  text-align: center;
  clear: both;
}
#AccountCreateN .overlay .starSelect {
  max-width: 162px;
  height: auto;
  margin: auto;
}
#AccountCreateN .overlay .inputComment {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  width: 740px;
  border: 1px solid #E8E8E9;
  background: #FFFFFF;
  resize: none;
  font-size: 16px;
}
#AccountCreateN .overlay .inputComment:focus {
  outline-width: 0;
}
#AccountCreateN .overlay .buttonChoseMedia {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-left: 20px;
  padding-left: 39px;
  padding-right: 10px;
  background-color: transparent!important;
  border-color: #E9E9E9!important;
  color: #949494!important;
  position: relative;
  font-family: 'SF Medium';
}
#AccountCreateN .overlay .buttonChoseMedia .buttonMedia {
  height: 16px;
  width: auto;
  position: absolute;
  left: 10px;
}
#AccountCreateN .overlay .button {
  margin-top: 0!important;
  margin-bottom: 25px!important;
  margin-right: 20px;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #fb4226 !important;
  border-color: #fb4226 !important;
  color: #fff!important;
  background-image: linear-gradient(-226deg, #fb4226 11%, #be2912 100%);
  font-family: 'SF Medium';
}
#AccountCreateN .overlay .model {
  position: relative;
  position: absolute;
  transform: translate(-50%);
  top: 35%;
  left: 50%;
  z-index: 100;
  width: 60%;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
#AccountCreateN .panel-body {
  padding: 0 20px 0px 20px!important;
}
#MapsMain html,
#MapsMain body,
#MapsMain #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#MapsMain .stations,
#MapsMain .stations svg {
  position: absolute;
}
#MapsMain .stations svg {
  font: 10px sans-serif;
}
#MapsMain .stations circle {
  fill: #bf3f24;
  stroke: rgba(191, 63, 36, 0.5);
  stroke-width: 5px;
}
#MapsMain .stations text {
  fill: #fff;
}
#OrderCreateN {
  /**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
  /**
   * The dnd-list should always have a min-height,
   * otherwise you can't drop to it once it's empty
   */
  /**
   * The dndDraggingSource class will be applied to
   * the source element of a drag operation. It makes
   * sense to hide it to give the user the feeling
   * that he's actually moving it.
   */
  /**
   * An element with .dndPlaceholder class will be
   * added to the dnd-list while the user is dragging
   * over it.
   */
  /**
   * The dnd-lists's child elements currently MUST have
   * position: relative. Otherwise we can not determine
   * whether the mouse pointer is in the upper or lower
   * half of the element we are dragging over. In other
   * browsers we can use event.offsetY for this.
   */
  /**
   * Gender-specifc background
   */
  /**
   * Handle positioning
   */
}
#OrderCreateN table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
#OrderCreateN .typesDemo ul[dnd-list],
#OrderCreateN .typesDemo ul[dnd-list] > li {
  position: relative;
}
#OrderCreateN .typesDemo ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}
#OrderCreateN .typesDemo ul[dnd-list] .dndDraggingSource {
  display: none;
}
#OrderCreateN .typesDemo ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  padding: 10px 15px;
  min-height: 42px;
}
#OrderCreateN .typesDemo ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  margin-bottom: -1px;
  /* Disable text selection if item is not draggable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#OrderCreateN .typesDemo ul[dnd-list] li dnd-nodrag {
  display: block;
  padding: 10px 15px;
}
#OrderCreateN .typesDemo ul[dnd-list] li.background-man {
  background-color: #CAE0FC;
}
#OrderCreateN .typesDemo ul[dnd-list] li.background-woman {
  background-color: #FFE2F5;
}
#OrderCreateN .typesDemo ul[dnd-list] input.background-man {
  background-color: #D8E9FF;
  color: #2F4D99;
}
#OrderCreateN .typesDemo ul[dnd-list] input.background-woman {
  background-color: #FFF0FA;
  color: #D84FA7;
}
#OrderCreateN .typesDemo .handle {
  cursor: move;
  position: absolute;
  top: 14px;
}
#OrderCreateN .typesDemo .name {
  margin-left: 20px;
}
#OrderCreateN .btn-droppable {
  width: 180px;
  height: 30px;
  padding-left: 4px;
}
#OrderCreateN .btn-draggable {
  width: 160px;
}
#OrderCreateN .buttonTable {
  vertical-align: middle;
  display: inline-block;
}
#OrderCreateN .buttonTablePad {
  padding: 6.7px 10px !important;
}
#OrderCreateN .buttonTableBtn button {
  width: 160px;
}
#OrderCreateN .buttonTableSelect {
  display: inline-block;
  width: 160px;
}
#OrderCreateN .table-td-center td[rowspan] {
  vertical-align: top;
  text-align: left;
}
#AppMainStyle .dropbtn {
  background-color: #337ab7;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  min-width: 280px;
}
#AppMainStyle .dropdown {
  position: relative;
  display: inline-block;
}
#AppMainStyle .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#AppMainStyle .dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}
#AppMainStyle .dropdown-content a:hover {
  background-color: #f1f1f1;
}
#AppMainStyle .dropdown:hover .dropdown-content {
  display: block;
}
#AppMainStyle .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
