<div id="wrapper">
    <div id="page-wrapper">
        <div id="AccountCreate">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Thông Tin Loại Hàng</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Thêm dữ liệu
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-6">

                                    <div id="idForm" class="form-group">
                                        <label>Mã Nhóm Hàng</label>
                                        <input ng-model="idProductGroup" class="form-control" placeholder="L1">
                                    </div>

                                    <div class="form-group">
                                        <label>Tên Nhóm Hàng</label>
                                        <input ng-model="nameProductGroup" class="form-control" placeholder="Hàng khô">
                                    </div>

                                    <div class="form-group">
                                        <label>Ghi Chú</label>
                                        <input ng-model="note" class="form-control" placeholder="...">
                                    </div>


                                    <div style="float: right">
                                        <button type="submit" ng-click="submit()" class="btn btn-outline btn-primary">Lưu
                                            thông tin
                                        </button>
                                    </div>

                                </div>

                                <div class="col-lg-6">

                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>