<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Details
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tiền thu</th>
                        <th>Thanh toán</th>
                        <th>Loại gói hàng</th>
                        <th>Hạn giao</th>
                        <th>Trạng thái</th>
                        <th>Hình ảnh</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer" ng-repeat="x in details">
                        <td>{{x._id_package}}</td>
                        <td>{{x._total_pay}}</td>
                        <td>{{x._pay_type}}</td>
                        <td>{{x._package_type}}</td>
                        <td>{{x._delivery_daytime}}</td>
                        <td>{{x._status}}</td>
                        <td align="center"><button ng-click="loadMaps(x)" type="button" class="btn btn-info btn-circle"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>