<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Chọn lịch chiếu
            </div>
            <div class="card-body no-padding">
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <div style="float: left;">
                            <p>{{data}}</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div style="float: right;">

                            <div class="row">
                                <div class="col-lg-6">
                                    <label style="float: right;" class="control-label">Chọn rạp:</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class=" form-group input-group" style="width: 100%; float: right">
                                        <select class="select2" name="selectRoom" id="selectRoom" ng-model="selectRoom" data-live-search="true" data-live-search-placeholder="Search">
                                            <option ng-repeat="room in rooms" >{{room}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div style="float: right;" class="hasTimepicker">
                                <div id="tableID" class="ui-timepicker-inline ui-timepicker ui-widget  ui-helper-clearfix">
                                    <table class="ui-timepicker-table ui-widget-content ui-corner-all">
                                        <tbody>
                                        <tr>
                                            <td class="ui-timepicker-hours">
                                                <div class="ui-timepicker-title ui-widget-header ui-helper-clearfix ui-corner-all">
                                                    Hour
                                                </div>
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th rowspan="2" class="periods" scope="row">AM</th>
                                                        <td id="h0" ng-click="c_hour(0)" data-hour="0"><a
                                                                class="ui-state-default ">00</a></td>
                                                        <td id="h1" ng-click="c_hour(1)" data-hour="1"><a
                                                                class="ui-state-default ">01</a></td>
                                                        <td id="h2" ng-click="c_hour(2)" data-hour="2"><a
                                                                class="ui-state-default ">02</a></td>
                                                        <td id="h3" ng-click="c_hour(3)" data-hour="3"><a
                                                                class="ui-state-default ">03</a></td>
                                                        <td id="h4" ng-click="c_hour(4)" data-hour="4"><a
                                                                class="ui-state-default ">04</a></td>
                                                        <td id="h5" ng-click="c_hour(5)" data-hour="5"><a
                                                                class="ui-state-default ">05</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="h6" ng-click="c_hour(6)" data-hour="6"><a
                                                                class="ui-state-default ">06</a></td>
                                                        <td id="h7" ng-click="c_hour(7)" data-hour="7"><a
                                                                class="ui-state-default ">07</a></td>
                                                        <td id="h8" ng-click="c_hour(8)" data-hour="8"><a
                                                                class="ui-state-default ">08</a></td>
                                                        <td id="h9" ng-click="c_hour(9)" data-hour="9"><a
                                                                class="ui-state-default ">09</a></td>
                                                        <td id="h10" ng-click="c_hour(10)" data-hour="10"><a
                                                                class="ui-state-default ">10</a></td>
                                                        <td id="h11" ng-click="c_hour(11)" data-hour="11"><a
                                                                class="ui-state-default ">11</a></td>
                                                    </tr>
                                                    <tr>
                                                        <th rowspan="2" class="periods" scope="row">PM</th>
                                                        <td id="h12" ng-click="c_hour(12)" data-hour="12"><a
                                                                class="ui-state-default ">12</a></td>
                                                        <td id="h13" ng-click="c_hour(13)" data-hour="13"><a
                                                                class="ui-state-default ">13</a></td>
                                                        <td id="h14" ng-click="c_hour(14)" data-hour="14"><a
                                                                class="ui-state-default ">14</a></td>
                                                        <td id="h15" ng-click="c_hour(15)" data-hour="15"><a
                                                                class="ui-state-default ">15</a></td>
                                                        <td id="h16" ng-click="c_hour(16)" data-hour="16"><a
                                                                class="ui-state-default ">16</a></td>
                                                        <td id="h17" ng-click="c_hour(17)" data-hour="17"><a
                                                                class="ui-state-default ">17</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="h18" ng-click="c_hour(18)" data-hour="18"><a
                                                                class="ui-state-default ">18</a></td>
                                                        <td id="h19" ng-click="c_hour(19)" data-hour="19"><a
                                                                class="ui-state-default ">19</a></td>
                                                        <td id="h20" ng-click="c_hour(20)" data-hour="20"><a
                                                                class="ui-state-default ">20</a></td>
                                                        <td id="h21" ng-click="c_hour(21)" data-hour="21"><a
                                                                class="ui-state-default ">21</a></td>
                                                        <td id="h22" ng-click="c_hour(22)" data-hour="22"><a
                                                                class="ui-state-default ">22</a></td>
                                                        <td id="h23" ng-click="c_hour(23)" data-hour="23"><a
                                                                class="ui-state-default ">23</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="ui-timepicker-minutes">
                                                <div class="ui-timepicker-title ui-widget-header ui-helper-clearfix ui-corner-all">
                                                    Minute
                                                </div>
                                                <table class="ui-timepicker">
                                                    <tbody>
                                                    <tr>
                                                        <td id="m0" ng-click="c_minute(0)" data-minute="0">
                                                            <a class="ui-state-default ">00</a></td>
                                                        <td id="m5" ng-click="c_minute(5)" data-minute="5">
                                                            <a class="ui-state-default ">05</a></td>
                                                        <td id="m10" ng-click="c_minute(10)" data-minute="10">
                                                            <a class="ui-state-default ">10</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="m15" ng-click="c_minute(15)" data-minute="15">
                                                            <a class="ui-state-default ">15</a></td>
                                                        <td id="m20" ng-click="c_minute(20)" data-minute="20">
                                                            <a class="ui-state-default ">20</a></td>
                                                        <td id="m25" ng-click="c_minute(25)" data-minute="25">
                                                            <a class="ui-state-default ">25</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="m30" ng-click="c_minute(30)" data-minute="30">
                                                            <a class="ui-state-default ">30</a></td>
                                                        <td id="m35" ng-click="c_minute(35)" data-minute="35">
                                                            <a class="ui-state-default ">35</a></td>
                                                        <td id="m40" ng-click="c_minute(40)" data-minute="40">
                                                            <a class="ui-state-default ">40</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="m45" ng-click="c_minute(45)" data-minute="45">
                                                            <a class="ui-state-default ">45</a></td>
                                                        <td id="m50" ng-click="c_minute(50)" data-minute="50">
                                                            <a class="ui-state-default ">50</a></td>
                                                        <td id="m55" ng-click="c_minute(55)" data-minute="55">
                                                            <a class="ui-state-default ">55</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group col-sm-12" style="margin: 16px;">
                    <button type="submit" ng-click='ok()' style="float: right;margin-right: 16px"
                            class="btn btn-success btn-submit">OK
                    </button>

                    <button type="submit" ng-click='close()' style=" float: right; margin-right: 16px"
                            class="btn btn-danger btn-submit">Trở về
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
