<div id="wrapper">
    <div id="page-wrapper">
        <div id="AccountCreate">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Thêm tài khoản mới</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Thêm dữ liệu
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div id="roleForm" class="form-group">
                                        <label>Vai trò</label>
                                        <ui-select ng-model="selectedRole.selected" theme="bootstrap" on-select = "selectRole($item)">
                                            <ui-select-match placeholder="Chọn...">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item as item in role | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div id="phoneForm" class="form-group">
                                        <label>Số điện thoại</label>
                                        <input ng-model="phoneNumber" class="form-control" placeholder="0968899988">
                                    </div>

                                    <div class="form-group">
                                        <label>Họ và Tên</label>
                                        <input ng-model="name" class="form-control" placeholder="An">
                                    </div>

                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input readonly id="birthday" type="text" class="form-control datepicker"
                                               data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy">
                                    </div>

                                    <div ng-if="inputVehicle" class="form-group">
                                        <label>Loại Bằng Lái Xe</label>
                                        <ui-select ng-model="selectedDriverLicenses.selected" theme="bootstrap" on-select = "selectDriverLicenses($item)">
                                            <ui-select-match placeholder="Chọn...">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item as item in driverLicenses | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div ng-if="inputVehicle" class="form-group">
                                        <label>Số Bằng Lái Xe</label>
                                        <input ng-model="driverLicenseName" class="form-control" placeholder="541321351">
                                    </div>

                                    <div class="form-group">
                                        <label>Số chứng minh</label>
                                        <input ng-model="identityNumber" class="form-control" placeholder="1521333558">
                                    </div>

                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input ng-model="address" class="form-control"
                                               placeholder="150A Nguyễn Thị Nhỏ,...">
                                    </div>

                                    <div ng-if="showMap" class="form-group">
                                        <label>Địa chỉ giao hàng</label>
                                        <input ng-model="obj.deliveryAddress" class="form-control" my-enter="enterInputMap()"
                                               placeholder="150A Nguyễn Thị Nhỏ,...">
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input ng-model="email" class="form-control" placeholder="dangvan@gmail.com">
                                    </div>

                                    <div ng-if="showCompany" class="form-group">
                                        <label>Tên công ty</label>
                                        <input ng-model="company" class="form-control" placeholder="EXZ">
                                    </div>

                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <ui-select ng-model="selectedGender.selected" theme="bootstrap">
                                            <ui-select-match placeholder="Chọn...">{{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item as item in gender | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>

                                    <div style="float: right">
                                        <button type="submit" ng-click="submit()" class="btn btn-outline btn-primary">Lưu
                                            thông tin
                                        </button>
                                    </div>

                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Chọn Hình Ảnh</label>
                                        <input type="file" id="fileButton"/>
                                    </div>

                                    <div class="form-group">
                                        <img src="{{srcImage.src}}" style="width:auto;height:150px;">
                                    </div>

                                    <div>
                                        <div class="col-xs-6" style="padding-left: 0">
                                            <div ng-if="showMap">
                                                <ui-select ng-model="selectedTypeSelect.selected" theme="bootstrap" on-select = "selectTypeSelect($item)">
                                                    <ui-select-match placeholder="Chọn...">{{$select.selected.name}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="item as item in typeSelects | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <button ng-if="showMapArea" ng-click="removePoint()">Xóa Điểm</button>
                                        </div>
                                    </div>

                                    <div ng-if="showMap">
                                        <ng-map center="{{ mapAddressCenter }}" zoom="14" scrollwheel="false" on-click="addMarkerAndPath()">
                                            <marker position="{{mapAddress}}"></marker>
                                            <shape name="polygon"
                                                   paths="{{path1}}"
                                                   stroke-color="#FF0000"
                                                   stroke-opacity="0.8"
                                                   stroke-weight="2"
                                                   fill-color="#FF0000"
                                                   fill-opacity="0.35">
                                            </shape>
                                        </ng-map>
                                    </div>

                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>