<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách tài khoản</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bảng dữ liệu
                    </div>
                    <br>

                    <div >
                        <div class="col-lg-12">
                            <button ng-click="addAcount()" type="button" class="btn btn-primary">Thêm tài khoản</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Last name</th>
                                <th>First name</th>
                                <th>Identify card</th>
                                <th>Date of birth</th>
                                <th>Phone</th>
                                <th>Adress</th>
                                <th>Gender</th>
                                <th>Image</th>
                                <th>Permission</th>
                                <th>Team</th>
                                <th>Status</th>
                                <th>Note</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="x in accounts">
                                <td><a href="#/accountscreate/{{x._email}}">{{x._email}}</a></td>
                                <td>{{x._last_name}}</td>
                                <td>{{x._first_name}}</td>
                                <td>{{x._identify_card}}</td>
                                <td>{{x._date_of_birth}}</td>
                                <td>{{x._phone}}</td>
                                <td>{{x._address}}</td>
                                <td>{{x._gender}}</td>
                                <td>{{x._image_url}}</td>
                                <td>{{x._permission_id}}</td>
                                <td>{{x._team}}</td>
                                <td>{{x._is_enabled}}</td>
                                <td>{{x._note}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>