<div id="wrapper">
    <div id="page-wrapper">
        <div id="AccountShow">

            <!--textBox overlay-->
            <div class="overlay" id="overlay-showmore" style="display: block;">
                <div class="model glx-container" style="margin-top: -166.5px;">
                    <div class="row closeOver">
                        <img ng-click="closeShowMore()" src="../assets/img/icons/xController.png">
                    </div>
                    <div class="row core">
                        <p id="scoreRate">Thông Tin Chi Tiết</p>
                    </div>
                    <div class="row panel-body">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-4"><p>Họ và Tên</p></div>
                                <div class="col-xs-8"><p>{{detail_name}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Số CMND</p></div>
                                <div class="col-xs-8"><p>{{detail_idnumber}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Email</p></div>
                                <div class="col-xs-8"><p>{{detail_email}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Ngày Sinh</p></div>
                                <div class="col-xs-8"><p>{{detail_birth | date:"dd/MM/yyyy"}}</p></div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-4"><p>Địa Chỉ</p></div>
                                <div class="col-xs-8"><p>{{detail_address}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Điện Thoại</p></div>
                                <div class="col-xs-8"><p>{{detail_phone}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Giới Tính</p></div>
                                <div class="col-xs-8"><p>{{detail_gender}}</p></div>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>

                    <div id="tableCustomer" class="row" style="padding: 10px">
                        <div class="panel-body">
                            <button ng-click="showAddDelivery()">Thêm Địa Điểm</button>

                            <table width="100%" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#" ng-click="sortType = 'stt'; sortReverse = !sortReverse">
                                            STT
                                            <span ng-show="sortType == 'stt' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'stt' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_id_area'; sortReverse = !sortReverse">
                                            Mã
                                            <span ng-show="sortType == '_id_area' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_id_area' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_name_area'; sortReverse = !sortReverse">
                                            Tên
                                            <span ng-show="sortType == '_name_area' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_name_area' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_address'; sortReverse = !sortReverse">
                                            Địa Chỉ
                                            <span ng-show="sortType == '_address' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_address' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#">
                                            Tọa độ
                                        </a>
                                    </th>
                                    <th>Ghi Chú</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in areas | orderBy:sortType:sortReverse | filter:searchFish">
                                    <td class="center">{{x.stt}}</td>
                                    <td><a href="" ng-click="updateArea(x)">{{x._id_area}}</a></td>
                                    <td>{{x._name_area}}</td>
                                    <td>{{x._address}}</td>
                                    <td><button ng-click="viewMaps(x)">Xem</button></td>
                                    <td>{{x._note}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <!--textBox overlay-->
            <div class="overlay" id="overlay-showmore1" style="display: block;">
                <div class="model glx-container" style="margin-top: -166.5px;">
                    <div class="row closeOver">
                        <img ng-click="closeShowMore1()" src="../assets/img/icons/xController.png">
                    </div>
                    <div class="row core">
                        <p>Nhập địa chỉ giao hàng</p>
                    </div>
                    <div class="row panel-body">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Mã Địa Điểm</label>
                                <input ng-model="idArea" class="form-control" placeholder="ADM">
                            </div>

                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input ng-model="address" class="form-control" placeholder="152 Tô Hiến Thành, Phường 15, Quận 11, Hồ Chí Minh">
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Tên Địa Điểm</label>
                                <input ng-model="nameArea" class="form-control" placeholder="Co.op Tô Hiến Thành">
                            </div>

                            <div class="form-group">
                                <label>Ghi Chú</label>
                                <input ng-model="note" class="form-control" placeholder="...">
                            </div>
                        </div>
                    </div>

                    <div class="row panel-body" id="mapAccountAddress">
                        <button ng-click="removePoint()">Xóa Điểm</button>
                        <button ng-click="createZone()">Lập vùng</button>
                        <ng-map center="{{ address }}" zoom="10" scrollwheel="false" on-click="addMarkerAndPath()">
                            <marker position="{{address}}" title="{{address}}"></marker>
                            <shape name="polyline" id="foo"
                                   path="{{path}}"
                                   stroke-color="#FF0000"
                                   stroke-opacity="1.0"
                                   stroke-weight="0">
                            </shape>
                            <shape name="polygon"
                                   paths="{{path1}}"
                                   stroke-color="#FF0000"
                                   stroke-opacity="0.8"
                                   stroke-weight="2"
                                   fill-color="#FF0000"
                                   fill-opacity="0.35">
                            </shape>
                        </ng-map>
                    </div>
                </div>
            </div>

            <!--textBox overlay-->
            <div class="overlay" id="overlay-showmore2" style="display: block;">
                <div class="model glx-container" style="margin-top: -166.5px;">
                    <div class="row closeOver">
                        <img ng-click="closeShowMore2()" src="../assets/img/icons/xController.png">
                    </div>
                    <div class="row core">
                        <p>Bản đồ</p>
                    </div>

                    <div class="row panel-body" id="mapAccountAddress2">
                        <ng-map center="{{ address }}" zoom="16" scrollwheel="false">
                            <shape name="polygon"
                                   paths="{{path1}}"
                                   stroke-color="#FF0000"
                                   stroke-opacity="0.8"
                                   stroke-weight="2"
                                   fill-color="#FF0000"
                                   fill-opacity="0.35">
                            </shape>
                        </ng-map>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Danh sách tài khoản</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bảng dữ liệu
                        </div>
                        <br>

                        <div>
                            <div class="col-lg-12">
                                <button ng-click="addAcount()" type="button" class="btn btn-primary">Thêm tài khoản
                                </button>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#" ng-click="sortType = 'stt'; sortReverse = !sortReverse">
                                            STT
                                            <span ng-show="sortType == 'stt' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'stt' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_phone'; sortReverse = !sortReverse">
                                            SĐT
                                            <span ng-show="sortType == '_phone' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_phone' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_first_name'; sortReverse = !sortReverse">
                                            Họ Và Tên
                                            <span ng-show="sortType == '_first_name' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_first_name' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_permission'; sortReverse = !sortReverse">
                                            Vai Trò
                                            <span ng-show="sortType == '_permission' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_permission' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>Chi Tiết</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in accounts | orderBy:sortType:sortReverse | filter:searchFish">
                                    <td>{{x.stt}}</td>
                                    <td><a href="#/accountscreate/{{x._phone}}">{{x._phone}}</a></td>
                                    <td>{{x._name}}</td>
                                    <td>{{x._permission}}</td>
                                    <td>
                                        <button ng-click="showMore(x)">Chi Tiết</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>