<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách tài khoản</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bảng dữ liệu
                    </div>
                    <br>

                    <div >
                        <div class="col-lg-12">
                            <button ng-click="addAcount()" type="button" class="btn btn-primary">Thêm tài khoản</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>SĐT</th>
                                <th>Địa chỉ</th>
                                <th>Vai trò</th>
                                <th>Đội</th>
                                <th>Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="x in accounts">
                                <td>{{x.stt}}</td>
                                <td><a href="#/accountscreate/{{x._email}}">{{x._email}}</a></td>
                                <td>{{x._last_name}} {{x._first_name}}</td>
                                <td>{{x._phone}}</td>
                                <td>{{x._address}}</td>
                                <td>{{x._permission_id}}</td>
                                <td>{{x._team}}</td>
                                <td>{{x._is_enabled}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>