<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách khu vực</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bảng dữ liệu
                    </div>
                    <br>

                    <div >
                        <div class="col-lg-12">
                            <button ng-click="addArea()" type="button" class="btn btn-primary">Thêm khu vực vận chuyển</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Mã khu vực</th>
                                <th>Quận / Huyện</th>
                                <th>Thành phố</th>
                                <th>Mô tả</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="pointer" ng-repeat="x in areas">
                                <td>{{x._area}}</td>
                                <td>{{x._district}}</td>
                                <td>{{x._city}}</td>
                                <td>{{x._description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>