<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách loại gói hàng</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bảng dữ liệu
                    </div>
                    <br>

                    <div >
                        <div class="col-lg-12">
                            <button ng-click="add()" type="button" class="btn btn-primary">Thêm loại gói hàng</button>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Id</th>
                                <th>Tên loại gói hàng</th>
                                <th>Mô tả</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-repeat="x in packagetypes">
                                <td>{{x.stt}}</td>
                                <td><a href="#/packagetypescreate/{{x._id}}">{{x._id}}</a></td>
                                <td>{{x._name}}</td>
                                <td>{{x._description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>