<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Thêm khu vực vận chuyển</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Thêm dữ liệu
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">

                                    <div class="form-group">
                                        <label>Mã khu vực</label>
                                        <input ng-model="idArea" class="form-control" placeholder="A01">
                                    </div>

                                    <div class="form-group">
                                        <label>Thành phố</label>
                                        <input ng-model="city" class="form-control" placeholder="Hồ Chí Minh">
                                    </div>

                                    <div class="form-group">
                                        <label>Quận / Huyện</label>
                                        <input ng-model="district" class="form-control" placeholder="Quận 11">
                                    </div>

                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <input ng-model="description" class="form-control" placeholder="Mô tả">
                                    </div>

                                </form>
                            </div>

                            <div class="col-lg-6">
                                <div style="padding-top: 24px">
                                    <button type="submit" ng-click="submit()" class="btn btn-outline btn-primary">Lưu thông tin</button>
                                    <button type="reset"  ng-click="reset()" class="btn btn-outline btn-primary">Làm mới</button>
                                </div>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>