<div id="wrapper">
    <div id="page-wrapper">
        <div id="AccountCreateN">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tạo Danh Sách Kho</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!--textBox overlay-->
            <div ng-if="showMaps" class="overlay" id="overlay-showmore1" style="display: block;">
                <div class="model glx-container" style="margin-top: -166.5px;">
                    <div class="row closeOver">
                        <img ng-click="closeShowMore1()" src="../assets/img/icons/xController.png">
                    </div>
                    <div class="row core">
                        <p>Nhập địa chỉ kho hàng</p>
                    </div>

                    <div class="row panel-body" id="mapAccountAddress">

                        <ui-select ng-model="selectedTypeSelect.selected" theme="bootstrap" on-select = "selectTypeSelect($item)">
                            <ui-select-match placeholder="Chọn...">{{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item as item in typeSelects | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <button ng-click="createZone()">Xong</button>
                        <button ng-if="showSelectArea" ng-click="removePoint()">Xóa Điểm</button>

                        <ng-map center="{{ addressCenter }}" zoom="15" scrollwheel="false" on-click="addMarkerAndPath()">
                            <marker position="{{address}}"></marker>
                            <shape name="polygon"
                                   paths="{{path1}}"
                                   stroke-color="#FF0000"
                                   stroke-opacity="0.8"
                                   stroke-weight="2"
                                   fill-color="#FF0000"
                                   fill-opacity="0.35">
                            </shape>
                        </ng-map>
                    </div>
                </div>
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bảng dữ liệu
                        </div>

                        <ng-map center="{{ center }}" zoom="10" scrollwheel="false" zoom-to-include-markers="auto">
                            <marker zoom="10" ng-repeat="p in markers"
                                    position="{{p.pos}}" title="{{p.label}}"></marker>
                        </ng-map>

                        <br>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-2">
                                    <input id="fileButton" type="file" ng-click="uploadFile()" xlsx-model="excel" style="display: none;">
                                    <button style="width: 150px" type="button" class="btn btn-primary" onclick="document.getElementById('fileButton').click();">Nhập tập tin</button>
                                    <div  ng-if="excel" ng-init="GetImport()"></div>
                                </div>

                                <div class="col-sm-2">
                                    <button style="width: 150px; float: left" type="button" class="btn btn-primary" ng-click="saveWarehouses()">Lưu thông tin</button>
                                </div>
                            </div>
                        </div>

                        <br>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>ID</th>
                                    <th>Tên Kho</th>
                                    <th>Địa Chỉ</th>
                                    <th>Ghi Chú</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="pointer" ng-repeat="x in warehouses">
                                    <td>{{$index + 1}}</td>
                                    <td>{{x.id}}</td>
                                    <td>{{x.name}}</td>
                                    <td><a href="" ng-click="clickShowMaps(x)">{{x.address}}</a></td>
                                    <td>{{x.note}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>