<div id="wrapper">
    <div id="page-wrapper">
        <div id="AccountShow">

            <!--textBox overlay-->
            <div class="overlay" id="overlay-showmore" style="display: block;">
                <div class="model glx-container" style="margin-top: -166.5px;">
                    <div class="row closeOver">
                        <img ng-click="closeShowMore()" src="../assets/img/icons/xController.png">
                    </div>
                    <div class="row core">
                        <p id="scoreRate">Thông Tin Chi Tiết</p>
                    </div>
                    <div class="row panel-body">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-4"><p>Id</p></div>
                                <div class="col-xs-8"><p>{{detail_id}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Tên</p></div>
                                <div class="col-xs-8"><p>{{detail_name}}</p></div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-4"><p>Địa Chỉ</p></div>
                                <div class="col-xs-8"><p>{{detail_address}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><p>Ghi Chú</p></div>
                                <div class="col-xs-8"><p>{{detail_note}}</p></div>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>

                    <div id="showMap" class="row" style="padding: 10px">
                        <div class="panel-body">
                            <div>
                                <div class="col-xs-6" style="padding-left: 0">
                                    <ui-select ng-model="selectedTypeSelect.selected" theme="bootstrap"
                                               on-select="selectTypeSelect($item)">
                                        <ui-select-match placeholder="Chọn...">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item as item in typeSelects | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                            <ng-map center="{{ mapAddressCenter }}" zoom="14" scrollwheel="false"
                                    style="padding-bottom: 40px">
                                <marker position="{{mapAddress}}"></marker>
                                <shape name="polygon"
                                       paths="{{path1}}"
                                       stroke-color="#FF0000"
                                       stroke-opacity="0.8"
                                       stroke-weight="2"
                                       fill-color="#FF0000"
                                       fill-opacity="0.35">
                                </shape>
                            </ng-map>
                        </div>
                    </div>
                </div>
            </div>

            <!--textBox overlay-->
            <div class="overlay" ng-if="showRemoveYN" style="display: block;">
                <div class="model glx-container" style="margin-top: -166.5px;">
                    <div class="row closeOver">
                        <img ng-click="closeShowMore()" src="../assets/img/icons/xController.png">
                    </div>
                    <div class="row core">
                        <p>Bạn có chắc chắn xóa thông tin kho này không?</p>
                    </div>
                    <div class="row panel-body">
                        <div class="col-xs-6">
                            <button ng-click="clickYesRemove()">Có</button>
                            <button ng-click="clickNoRemove()">Không</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Danh sách kho</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bảng dữ liệu
                        </div>

                        <br>
                        <br>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        <a href="#" ng-click="sortType = 'stt'; sortReverse = !sortReverse">
                                            STT
                                            <span ng-show="sortType == 'stt' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == 'stt' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_phone'; sortReverse = !sortReverse">
                                            Id
                                            <span ng-show="sortType == '_phone' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_phone' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_name'; sortReverse = !sortReverse">
                                            Tên
                                            <span ng-show="sortType == '_name' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_name' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_permission'; sortReverse = !sortReverse">
                                            Địa Chỉ
                                            <span ng-show="sortType == '_permission' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_permission' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>
                                        <a href="#" ng-click="sortType = '_permission'; sortReverse = !sortReverse">
                                            Ghi Chú
                                            <span ng-show="sortType == '_permission' && !sortReverse"
                                                  class="fa fa-caret-down"></span>
                                            <span ng-show="sortType == '_permission' && sortReverse"
                                                  class="fa fa-caret-up"></span>
                                        </a>
                                    </th>
                                    <th>Chi Tiết</th>
                                    <th>Xóa Tài Khoản</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in warehouses | orderBy:sortType:sortReverse | filter:{ _permission: selectedRole.selected.name }">
                                    <td>{{$index + 1}}</td>
                                    <td><a href="#/warehousescreate/{{x._id_warehouse}}">{{x._id_warehouse}}</a></td>
                                    <td>{{x._name}}</td>
                                    <td>{{x._address}}</td>
                                    <td>{{x._note}}</td>
                                    <td>
                                        <button ng-click="showMore(x)">Chi Tiết</button>
                                    </td>
                                    <td>
                                        <button ng-click="remove(x)">Xóa</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>